<div class="container">
  <div class="page-header" style="margin-bottom: 32px;">
    <a href="/passwords" class="btn-flat waves-effect" style="margin-bottom: 16px; color: var(--text-secondary);">
      <i class="material-icons left">arrow_back</i>
      Back to Passwords
    </a>
    <h4 class="page-title" style="margin: 0;">
      <i class="material-icons">edit</i>
      Edit Password
    </h4>
  </div>

  <% if @password %>
    <password-form :password='<%= @password.to_json.html_safe %>' :is-edit="true"></password-form>
  <% else %>
    <password-form :is-edit="true"></password-form>
  <% end %>
</div>
