<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="page-header" style="margin-bottom: 32px;">
        <a href="/passwords" class="btn-flat waves-effect" style="margin-bottom: 16px;">
          <i class="material-icons left">arrow_back</i>
          Back to Passwords
        </a>
        <h4 class="page-title" style="margin: 0; color: var(--text-primary);">
          <i class="material-icons" style="vertical-align: middle;">shuffle</i>
          Generate Secure Password
        </h4>
      </div>

      <PasswordGenerator></PasswordGenerator>
    </div>
  </div>
</div>
