<div class="container">
  <div class="page-header" style="margin-bottom: 32px;">
    <a href="/passwords" class="btn-flat waves-effect" style="margin-bottom: 16px; color: var(--text-secondary);">
      <i class="material-icons left">arrow_back</i>
      Back to Passwords
    </a>
    <h4 class="page-title" style="margin: 0;">
      <i class="material-icons">add_circle</i>
      Add New Password
    </h4>
  </div>

  <PasswordForm></PasswordForm>
</div>
